<div>
    <div class="home-image">
        <img src="{{imageUrl}}" alt="Play {{title}} poster">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
        <div class="info-buttons">
            <a class="btn details" href="/play/details/{{_id}}">Details</a>
            <span class="likes">{{likes}} likes</span>
        </div>
    </div>
</div>